/*
#bigTable {
    border-collapse: collapse;
}
#bigTable tr,td {
    border-collapse: collapse;
}
#bigTable td {
    border: 1px solid red;
}
*/
.box {
    border-collapse: collapse;
    margin:0 auto;
}
.box tr, td {
    border-collapse: collapse;
    border: 1px solid black;
}
.box td {
    width: 50px;
    height: 50px;
}